.page-content {
  padding: 0 20px;

  .search-content {
    background-color: white;
    height: 140px;
    padding: 20px 0;
    position: sticky;
    top: 64px;
    z-index: 1;
  }
}

.search-bar {
  margin-top: 20px;
}

.search-results {
  width: 100%;
  max-width: 1200px;
}
