.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header-container {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .content {
    display: flex;
    justify-content: center;
  }
}
