@use "@angular/material" as mat;

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
    ),
    typography: (
      brand-family: "Comic Sans",
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    display: flex;
    justify-content: center;
  }
}
